---
import Layout from '../layouts/BlogPost.astro';

//let res = await fetch("https://norian.studio/wp-json/wp/v2/dinos")
let res = await fetch('https://www.reddit.com/r/SteamDeck.json')
let posts = await res.json();
---

<Layout
	title="Steam Deck"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
>
  <section>
    <h1>List of Dinosaurs</h1>
    {
      posts.data.children.map((post: any) => (
        <article>
		  <img src={`${post.data.thumbnail}`} />
          <h2>
            <a href={`/dinos/${post.slug}/`} set:html="post.data.title" />
          </h2>
          <Fragment set:html="post.data.author_fullname" />
        </article>
      ))
    }
  </section>
</Layout>
